{% load static %}

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF 8">
        <title>RepairEasy | Home repair services</title>
        <link rel="stylesheet" href="{% static 'JobsForALL/page.css' %}" >
    </head>
    <body>
        <header class="container">
            <a href="" class="logo">LOGO</a>
            <nav>
                <a href="">HOME</a>
                <a href="">LOG-IN</a>
                <a href="">REGISTER</a>
                <a href="">CONTACT US</a>
            </nav>
        </header>

        <div class="container">
            <div class="intro">
                <h1 class="intro-title">RepairEasy</h1>
                <p>
                    WELCOME TO HOME REPAIR SERVICES….<br>
                    <br><br>
                    Avail our affordable hassle-free home repair services where we guarantee honest and friendly service done only by certified technicians who will walk to your doorstep and provide you with the best possible services.<br>
                    <br>
                    BENEFITS FOR YOU<br>
                    <br><br>
                    •	Affordable and competitive pricing<br>
                    •	Honest and friendly service<br>
                    •	Certified technicians<br>
                    •	High quality workmanship<br>
                    •	Satisfaction guaranteed <br>
                </p>
                <br>
                <a href="" class="btn">SERVICES</a>                
            </div>
        </div>
    </body>
    <footer class="bottom">
        <p>
            COVID-19 : IMPACTS ON BUSINESS<br>
            <br><br>
            We all know how besides proving a threat to human life Covid-19 had it’s massive impact on business as well. Companies and businesses are taking major hits due to the rapid spread of coronavirus and a survey shows that 86% are expecting revenue to take significant falls due to the direct impact of the outbreak. This significant drop in revenue will have a trickle-down effect on the economy as companies are struggling to adjust their business strategies in preparation for an economic downturn.<br>
            <br>
            Because of this businessmen and people employed in those companies are losing out there jobs which is building mental stress among them and causing them to commit suicide as they can’t support their financial needs.<br>
            <br>
            So in the wake of this pandemic we have come up with home repair services so that the un-employed people can make use of their skills to help their families running. So it would be grateful if you avail yourself of these services. Stand with us in this noble cause which would help thousands to get employment and fight against Covid-19.
        </p>
    </footer>
</html>